/*top*/
#top{
  margin-bottom:80px;
}

.top_contents{
  padding-top:100px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.top_contents h1{
  font-size:30px;
  margin-bottom:30px;
}

.create_btn{
  margin-bottom:30px;
}

.grid_container{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:repeat(2,auto);
  gap:20px;
}

.grid-item{
  font-size:14px;
  line-height:center;
}

.grid-item img{
  width:80px;
  height:100px;
  margin-bottom:10px;
}
